.control_create{
    margin: 0;
    padding: 0;
}
.nameCreate h1{
    font-size: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: "Roboto", "Nokora", sans-serif;
    
}
.item_create{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}
.logouts{
    margin-top: 100px;
  }

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgb(133, 133, 133);
    transition: 0.5s linear;
}
.item:hover{
    transform: scale(1.1) rotate(3deg);
}
.item p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.icon{
    color: black;
}






