
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Bayon&family=Chenla&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Moul&family=Nokora:wght@100;300;400;700;900&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Protest+Guerrilla&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Horizontal scrollbar styling */
.MuiTableContainer-root {
    scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
    scrollbar-width: thin; /* For Firefox */
}

.MuiTableContainer-root::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
}

.MuiTableContainer-root::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 4px;
}

.MuiTableContainer-root::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.MuiTableContainer-root::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}


